<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="zh-hk">
  <head>
    <title>達人專用 - 品牌修煉 Click Like 助手</title>
          <meta name="description" content="品牌修煉 Click Like 助手">
          <link rel="shortcut icon" type="image/png" href="https://cdn.glitch.com/a3976d00-9d54-4c1e-afee-614347c571f1%2Flike_1.png?1532738313140"/>
          <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <meta http-equiv="expires" content="-1" />
    <meta http-equiv="pragma" content="no-cache" />
    <meta name="robots" content="all" />
    
      <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-PQ7TT35');</script>
    <!-- End Google Tag Manager -->
  </head>
  <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PQ7TT35"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    
    <!-- HEADER -->
    <div id="header">          
      <div id="top-right" style="float:right;">
        <ui>
          <li><a href="/">Home</a></li>
          <li><a href="/changelog">Change Log</a></li>
        </ui>
      </div>
      <h1><a name="top"></a><a href="/" id="icon">
        <img src="https://cdn.glitch.com/a3976d00-9d54-4c1e-afee-614347c571f1%2Flike_1.png?1532738313140" height="64"></a>
        品牌修煉 Click LIKE助手
      </h1>
    </div>
    <!-- END HEADER -->

    <!-- START NAVIGATION -->
    <div id="masthead">
      <h1 style="float: left; margin-top: 0;">Documentation</h1>
      <p style="float: right;">Author:<a href="https://craftweeks.com">Chris K. Fung</a></p>
    </div>
    <!-- END NAVIGATION -->


    <!-- START BREADCRUMB -->
    <table cellpadding="0" cellspacing="0" border="0" style="width:100%">
      <tr>
        <td id="breadcrumb">
          <a href="/">ezSFBmaster</a> &nbsp;&#8250;&nbsp; Documentation
        </td>
      </tr>
    </table>
    <!-- END BREADCRUMB -->

    <br clear="all" />


    <!-- START CONTENT -->
    <div id="content">
      <h2>應用程式概念</h2>
        <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/dM486I6DnG4" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
      
      <br clear="all" />
      
      <h2>使用說明</h2>
      
      <h3>登入Facebook用戶及獲取Slack授權</h3>
      <ol>
          <li>按下「Facebook登入」按鈕，確認Facebook用戶名稱。</li>
          <li>按下「Add to Slack」按鈕，取得Slack權根。請參考下方之影片示範。
            <br><iframe width="315" height="560" src="https://www.youtube-nocookie.com/embed/8nhfwMX1zgE" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
          </li>
          <li>當程式確認Facebook及Slack的受權後，會自動轉入應用程式的主畫面。</li>          
      </ol>
            
      <h3>抓取「品牌修煉」分享的Facebook貼文</h3>
      <ol>
        <li>進入主畫面後，應用程式會自動抓取Slack之中的「品牌修煉」頻道內訊息記錄，預設為最新15個記載。
          <br>然後，顯示搜索到的Facebook貼文。</li>
        <li>可以修改輸入方塊之中的數字，然後按「Get Data」按鈕，抓取更多記錄，設定上限為100。</li>
        <li>取得Slack資料後，會顯示搜索到的Facebook貼文總數，以及已經在Slack回應了的數目。</li>
        <li>顯示<b>灰色背景</b>的貼文，表示該篇貼文在Slack上已留了回應。在嵌入式貼文下方之「Mark on Slack」按鈕旁亦會顯示綠色的 <i class="fa fa-check-circle" style="color:green"></i> 號。</li>
      </ol>
      
      <h3>隱藏/顯示有灰色背景的貼文</h3>
      <ol>
        <li>按下「Hide Liked」按鈕，應用程式就會把有灰色背景的嵌入式貼文隱藏起來。</li>
        <li>按下切換成「Show Liked」的按鈕，應用程式就會把已隱藏起來的嵌入式貼文再次顯示出來。</li>
      </ol>
      
      <h3>在Facebook嵌入式貼文「讚好」</h3>
        
      <ol>
        <li>按下Facebook嵌入式貼文的「讚好」按鈕。</li>
        <li>如果看到「確認」按鈕，請再次按下，然後在彈出的視窗確認「讚好」。
          <p>
            <small><a href="https://developers.facebook.com/docs/plugins/faqs/#faq_251162528583504" target="_blank">為什麼點擊「讚好」按鈕後會看到「確認」按鈕？ - Facebok 常見問題</a>
              <br>&nbsp・ 當有特定用戶人數分別確認讚好之後，該確認步驟將不再出現。</small>
          </p>
        </li>
      </ol>
      
      <h3>在Slack回應「讚好」</h3>
      <ol>
        <li>按嵌入式貼文下方的「Mark on Slack」按鈕。</li>
        <li>如果成功在「品牌修煉」頻道的對應記錄上留下<i class="fa fa-thumbs-up" style="color:#ffa700"></i>回應，「Mark on Slack」按鈕旁就會出現綠色的 <i class="fa fa-check-circle" style="color:green"></i> 號。
          <br>如果失敗，則會出現紅色的 <i class="fa fa-times-circle" style="color:red"></i>。</li>
      </ol>

    </div>
    
    <p><a href="#top">Top of Page</a></p>
    <!-- END CONTENT -->

    <!-- FOOTER -->
    <footer>
      <p><a href="https://craftweeks.com">Craftweeks</a> &nbsp;&middot;&nbsp; Copyright &#169; 2018 <a href="https://github.com/chriskyfung">Chris K. Fung</a> &nbsp;&middot;&nbsp; <a href="http://www.coxo.hk/">達人圈子</a></p>
      <p>Made with <a href="https://glitch.com">Glitch</a>!</p>
    </footer>

  </body>
</html>