<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="zh-hk">
  <head>
    <title>COXOAPP 說明</title>
     <meta name="description" content="品牌修煉助手，包括「讚好助手」、「粉絲分析助手」兩大功能。品牌修煉是達人圈子專為修畢品牌修煉的成員而設的頻道。">
    <meta property="og:image" itemprop="image" content="http://ia.media-imdb.com/rock.jpg"/>
    <link rel="shortcut icon" type="image/png" href="https://cdn.glitch.com/a3976d00-9d54-4c1e-afee-614347c571f1%2Flike_1.png?1532738313140"/>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <meta http-equiv="expires" content="-1" />
    <meta http-equiv="pragma" content="no-cache" />
    <meta name="robots" content="all" />
    
      <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-PQ7TT35');</script>
    <!-- End Google Tag Manager -->
  </head>
  <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PQ7TT35"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    
    <!-- HEADER -->
    <div id="header">          
      <a name="top"></a><a href="/" id="icon">
        <img src="https://cdn.glitch.com/a3976d00-9d54-4c1e-afee-614347c571f1%2Flike_1.png?1532738313140" height="64"></a>
      <h1>達人專用<span>品牌修煉助手</span></h1>
      <div id="top-right">
        <div id="home-button">
          <a href="/" class="button">主頁</a>
        </div>
        <ui>
          <li><a href="/changelog" id="changelog">版本</a></li>
        </ui>
      </div>
    </div>
    <!-- END HEADER -->
    
    
    <!-- START NAVIGATION -->
    <div id="masthead">
      <div class="breadcrumb">
          <a href="/">COXOAPP</a> &#8250; 說明文件
      </div>
      <div class="breadcrumb">
        <p>文件: <a href="http://chrisfungky.tumblr.com/" target="_blank">Chris Fung</a>
          <br>更新: 2018/11/17</p>
      </div>
    </div>
    <!-- END NAVIGATION -->

    <br clear="all" />


    <!-- START CONTENT -->
    <div class="content-container">
      
       <h1>COXOAPP 說明文件</h1>
       <div class="breadcrumb">
         <ol>
           <li><a href="#concepts">應用程式概念</a></li>
           <li><a href="#new-features">新功能</a></li>
           <li><a href="#instructions">使用說明</a>             
             <ul>
               <li><a href="#sign-in">登入並獲取Slack授權</a></li>
               <li><a href="#fetch-fb-posts">抓取「品牌修煉」分享的Facebook貼文</a></li>
               <li><a href="#show-n-hide">隱藏/顯示已讚好(灰色背景)的貼文</a></li>
               <li><a href="#click-like-on-fb">在Facebook嵌入式貼文「讚好」</a></li>
               <li><a href="#mark-on-slack">在Slack回應「讚好」</a></li>
             </ul>
             </li>
           <li><a href="#faq">常見問題</a></li>
         </ol>
       </div>
      
      <a name="concepts"></a>
      <div class="content">        
        <h2>應用程式概念</h2>
        <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/dM486I6DnG4" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        <p>一站式管理達人的Facebook及Slack個人品牌修煉頻道，促進交換社交貨幣。</p>
        <p>方便達人檢查有沒有漏看分享到品牌修煉的Facebook帖子，覆核是否有依照品牌修煉的規則回Slack頻道Mark Liked。為達人提供發佈頻率與粉絲回應的統計及分析數據。</p>
      </div>
      
      <div class="_top"><a href="#top">頁面頂部</a></div>
      
      <a name="new-features"></a>
      <div class="content">
        <h2>新功能 - 粉絲分析助手</h2>
        <p>登入後，從Menu Bar按「粉絲分析助手」的連結，就會進入如下圖的網頁。預設顯示為「過去7天」的統計記錄。你可以在表格的右上方更變日期範圍選項，然後按「取得分析」向伺服器查詢更多天數的數據記錄。</p>
        <p>可供選擇的日期範圍選項：</p>
        <ui style="text-indent:20px;"><li>過去30天</li><li>過去14天</li><li>過天7天</li><li>過去1天</li>
        <img class="shadow" src="https://cdn.glitch.com/c5cf6c57-1bac-4684-bf70-929ce8517fcc%2Fez-analytics.png?1533538067660"></ui>
      </div>
      
      <div class="_top"><a href="#top">頁面頂部</a></div>
      
      <a name="instructions"></a>
      <div class="content">
        <h2>使用說明</h2>
        
        <div class="sub">
          <a name="sign-in"></a>
          <h3>登入並獲取Slack授權</h3>
          <ol>
              <li>按下「Sign in with Slack」按鈕，瀏覽器會轉至Slack的登入網頁。</li>
                <img class="shadow" src="https://cdn.glitch.com/a3976d00-9d54-4c1e-afee-614347c571f1%2Fsign-in_01.png?1542454243533">
              <li>填入<b>coxohk</b>.slack.com，登入達人圈子的Workspace。</li>
                <img class="shadow" src="https://cdn.glitch.com/a3976d00-9d54-4c1e-afee-614347c571f1%2Fsign-in_02.png?1542455106839">
              <li>然後填寫你的電郵地址與密碼，登入你的Slack帳號。</li>
                <img class="shadow" src="https://cdn.glitch.com/a3976d00-9d54-4c1e-afee-614347c571f1%2Fsign-in_03.png?1542455107327">
              <li>確認連結到達人圈子，然後按下「Continue」。</li>
                <img class="shadow" src="https://cdn.glitch.com/a3976d00-9d54-4c1e-afee-614347c571f1%2Fsign-in_04.png?1542455106964 ">
              <li>選擇Post to [品牌修煉的Channel]，授權COXOAPP讀取私人頻道及修改Emoji反應。</li>
                <img class="shadow" src="https://cdn.glitch.com/a3976d00-9d54-4c1e-afee-614347c571f1%2Fsign-in_05.png?1542455107126">
              <li>當程式確認Slack的授權後，會自動轉入應用程式的主畫面。</li>
              <img class="shadow" src="https://cdn.glitch.com/a3976d00-9d54-4c1e-afee-614347c571f1%2Fsign-in_06.png?1542455107800">
          </ol>
        </div>
        
        <div class="_top"><a href="#top">頁面頂部</a></div>
        
        <div class="sub">
          <a name="fetch-fb-posts"></a>
          <h3>抓取「品牌修煉」分享的Facebook貼文</h3>
          <ol>
            <li>進入主畫面後，應用程式會自動抓取Slack之中的「品牌修煉」頻道內訊息記錄，預設為最新15個記載。顯示搜索到的Facebook貼文。</li>
            <li>如果你尚未登入Facebook帳號，會看見「使用Facebook帳戶登入」的按鈕。請按下，按照Facebook的指示，使用你的Facebook帳戶繼續。</li>
              <img class="shadow" src="https://cdn.glitch.com/a3976d00-9d54-4c1e-afee-614347c571f1%2Fsign-in_fb.png?1542456625684">
            <li>如果你想抓取更多Slack記錄，可以修改輸入方塊之中的數字，設定上限為100，然後按「確定」按鈕。</li>
            <li>取得Slack資料後，會顯示搜索到的Facebook貼文總數，以及已經在Slack回應了的數目。</li>
            <li>顯示<b>灰色背景</b>的貼文，表示該篇貼文在Slack上已留了回應。在嵌入式貼文下方之「標記到<i class="fa fa-slack"></i>Slack」按鈕旁亦會顯示綠色的 <i class="fa fa-check-circle" style="color:green"></i> 號。</li>
          </ol>
        </div>

        <div class="_top"><a href="#top">頁面頂部</a></div>
        
        <div class="sub">
          <a name="show-n-hide"></a>
          <h3>顯示/隱藏已標記到Slack(灰色背景)的貼文</h3>
          <ol>
            <li>按下「<i class="fa fa-eye-slash"></i>」按鈕，應用程式就會把有灰色背景的嵌入式貼文顯示起來。</li>
            <li>按下切換成「<i class="fa fa-eye"></i>」的按鈕，應用程式就會把已隱藏起來的嵌入式貼文再次隱藏出來。</li>
            <img class="shadow" src="https://cdn.glitch.com/a3976d00-9d54-4c1e-afee-614347c571f1%2Fshow-hide.png?1542457459220">
            <img class="shadow" src="https://cdn.glitch.com/a3976d00-9d54-4c1e-afee-614347c571f1%2Fa3976d00-9d54-4c1e-afee-614347c571f1%252Ffb-post-liked.png?1542458662395">
          </ol>
        </div>
        
        <div class="_top"><a href="#top">頁面頂部</a></div>
        
        <div class="sub">
          <a name="click-like-on-fb"></a>
          <h3>在Facebook嵌入式貼文「讚好」</h3>
          <ol>
            <li>按下Facebook嵌入式貼文的「讚好」按鈕。</li>
            <li>如果看到「確認」按鈕，請再次按下，然後在彈出的視窗確認「讚好」。
              <p>
                <img class="shadow" src="https://cdn.glitch.com/a3976d00-9d54-4c1e-afee-614347c571f1%2Ffb-confirm.png?1532933656061">
                <br>(<a href="#about_facebook_confirm_message">為什麼在點擊嵌入式Facebook貼文的「讚好」按鈕後會看到「確認」按鈕？</a>)
              </p>
            </li>
          </ol>
        </div>
        
        <div class="_top"><a href="#top">頁面頂部</a></div>

        <div class="sub">
          <a name="mark-on-slack"></a>
          <h3>在Slack回應「讚好」</h3>
          <ol>
            <li>按嵌入式貼文下方的「標記到<i class="fa fa-slack"></i>Slack」按鈕。</li>
            <li>如果成功在「品牌修煉」頻道的對應記錄上留下<i class="fa fa-thumbs-up" style="color:#ffa700"></i>反應，「標記到<i class="fa fa-slack"></i>Slack」按鈕旁就會出現綠色的 <i class="fa fa-check-circle" style="color:green"></i> 號。如果失敗，則會出現紅色的 <i class="fa fa-times-circle" style="color:red"></i>。</li>
            <img class="shadow" src="https://cdn.glitch.com/a3976d00-9d54-4c1e-afee-614347c571f1%2Fez-mark.png?1532933656175">
          </ol>
        </div>
      </div>
      
      <div class="_top"><a href="#top">頁面頂部</a></div>
      
      <a name="faq"></a>
      <div class="content">
        <h2>常見問題</h2>
        <ol>
          <li><a name="about_facebook_confirm_message"></a><h3>為什麼在點擊嵌入式Facebook貼文的「讚好」按鈕後會看到「確認」按鈕？</h3></li>
          <ul>
            <li><a href="https://developers.facebook.com/docs/plugins/faqs/#faq_251162528583504" target="_blank">Facebok 常見問題</a> - 當有特定用戶人數分別確認讚好之後，該確認步驟將不再出現。</li>
          </ul>
          <li><h3>出現錯誤信息</h3></li>
          <ul>
            <li>如果沒有該Channel的讀取權限，則會顯示如下圖的錯誤信息。</li>
            <img class="shadow" src="https://cdn.glitch.com/a3976d00-9d54-4c1e-afee-614347c571f1%2Ferror_msg_no_access_right.png?1533064787026">
          </ul>
          <li><h3>為什麼不設計成自動同步Facebook與Slack之間的「讚好」？</h3></li>
          <ul>
            <li>基於2018年2月份的Facebook隱私政策修定，現在已經不再提供API方法去傳取「讚好」貼文的用戶資料。
              <br>更無法經由其API接點，對用戶貼文添加「讚好」反應。詳細請參考：<a href="https://developers.facebook.com/docs/graph-api/reference/v3.1/object/reactions" target="_blank">Facebook Graph API 說明</a> (英文)。</li>
            <img class="shadow" src="https://cdn.glitch.com/a3976d00-9d54-4c1e-afee-614347c571f1%2Ffacebook-api-privacy-concerns.png?1533192579883">
          </ul>
        </ol>
      </div>
      
      <div class="_top"><a href="#top">頁面頂部</a></div>
    </div>  
    
    <!-- END CONTENT -->

    <!-- FOOTER -->
    <footer>       
      <p>Copyright &#169; 2018 <a href="https://github.com/chriskyfung">Chris K. Fung</a> &nbsp;&middot;&nbsp; <a href="http://www.coxo.hk/">達人圈子</a></p>
      <p>Made with <a href="https://glitch.com">Glitch</a>!</p>
    </footer>

  </body>
</html>