<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!-- You might want to try something fancier: -->
<!-- html/nunjucks docs: https://mozilla.github.io/nunjucks/ -->
<!-- pug: https://pugjs.org/ -->
<!-- haml: http://haml.info/ -->
<!-- hbs(handlebars): http://handlebarsjs.com/ -->

<!DOCTYPE html>
<html lang="zh-hk">
  <head>
    <title>達人專用 - 品牌修煉助手</title>
      <meta name="description" content="品牌修煉助手，包括「讚好助手」、「粉絲分析助手」兩大功能。品牌修煉是達人圈子專為修畢品牌修煉的成員而設的頻道。">
      <meta property="og:image" itemprop="image" content="http://ia.media-imdb.com/rock.jpg"/>

      <link rel="shortcut icon" type="image/png" href="https://cdn.glitch.com/a3976d00-9d54-4c1e-afee-614347c571f1%2Flike_1.png?1532738313140"/>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">  

      <meta name="slack-app-id" content="ABGVCV89X">  

      <link rel="stylesheet" href="style.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>  
      <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
    
   
      <!-- Google Tag Manager -->
      <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-PQ7TT35');</script>
      <!-- End Google Tag Manager -->
  </head>
  <body>
    
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PQ7TT35"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    
    <!-- HEADER -->   
    <div id="header">        
      <div id="top-right" style="float:right;">
        <ui>
          <li><a href="/how-to-use">使用說明</a></li>
          <li><a href="/changelog" id="changelog">版本記錄</a></li>
        </ui>
      </div>
      <h1><a name="top"></a><a href="/" id="icon">
        <img src="https://cdn.glitch.com/a3976d00-9d54-4c1e-afee-614347c571f1%2Flike_1.png?1532738313140" height="64"></a>
        達人專用 - 品牌修煉助手
      </h1>
    </div>
    <!-- END HEADER -->
    
    <div class="main">
      
      <blockquote class="embedly-card" data-card-controls="0"><h4><a href="https://www.eventbrite.hk/e/vs-nov-5-tickets-51956548435">超級人脈系列「投資人脈 vs 人脈投資?!」工作坊 (Nov 5)</a></h4><p>Eventbrite - 達人圈子 presents 超級人脈系列「投資人脈 vs 人脈投資?!」工作坊 (Nov 5) - Monday, 5 November 2018 at LCF Workshop. Find event and ticket information.</p></blockquote>
      <script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script>
      
        <!-- SLACK CONNECT BUTTON -->
      <div>
        
      
        <div id="slack" class="group">
          <p><b>登入並授權連接到Slack</b></p> 
          <a href="https://slack.com/oauth/authorize?scope=identity.basic,identity.team&client_id=277002982913.390998994337&state=aabbCCddeeFF"><img alt="Sign in with Slack" height="40" width="172" src="https://platform.slack-edge.com/img/sign_in_with_slack.png" srcset="https://platform.slack-edge.com/img/sign_in_with_slack.png 1x, https://platform.slack-edge.com/img/sign_in_with_slack@2x.png 2x" /></a>
         <!-- <a href="/auth/slack"><img alt="Add to Slack" height="40" width="139" src="https://platform.slack-edge.com/img/add_to_slack.png" srcset="https://platform.slack-edge.com/img/add_to_slack.png 1x, https://platform.slack-edge.com/img/add_to_slack@2x.png 2x" /></a>    -->    

          <div id="slack-status" style="margin: 0.5em 0.1em; font-size: 85%;"></div>
        </div>
        <!-- END OF SLACK CONNECT BUTTON -->
      
        <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fcoxo.hk%2F&tabs&width=320&height=214&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId=1146717015478341" width="320" height="214" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
 </div>
    </div>
    
    <!-- FOOTER -->
    <footer>       
      <p>Copyright &#169; 2018 <a href="https://github.com/chriskyfung">Chris K. Fung</a> &nbsp;&middot;&nbsp; <a href="http://www.coxo.hk/">達人圈子</a></p>
      <p>Made with <a href="https://glitch.com">Glitch</a>!</p>
    </footer>
    <!-- END OF FOOTER -->
   </body>
</html>
