<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!-- You might want to try something fancier: -->
<!-- html/nunjucks docs: https://mozilla.github.io/nunjucks/ -->
<!-- pug: https://pugjs.org/ -->
<!-- haml: http://haml.info/ -->
<!-- hbs(handlebars): http://handlebarsjs.com/ -->

<!DOCTYPE html>
<html lang="zh-hk">
  <head>
    <title>達人專用 - 品牌修煉助手</title>
      <meta name="description" content="品牌修煉助手，包括「讚好助手」、「粉絲分析助手」兩大功能。品牌修煉是達人圈子專為修畢品牌修煉的成員而設的頻道。">
      <meta property="og:image" itemprop="image" content="http://ia.media-imdb.com/rock.jpg"/>

      <link rel="shortcut icon" type="image/png" href="https://cdn.glitch.com/a3976d00-9d54-4c1e-afee-614347c571f1%2Flike_1.png?1532738313140"/>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">  

      <meta name="slack-app-id" content="ABGVCV89X">  

      <link rel="stylesheet" href="style.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>  
      <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
    
   
      <!-- Google Tag Manager -->
      <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-PQ7TT35');</script>
      <!-- End Google Tag Manager -->
  </head>
  <body>
    
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PQ7TT35"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    
    <!-- HEADER -->   
    <div id="header">        
      <div id="top-right" style="float:right;">
        <div id="home-button"> <!-- login button -->
          <a href="https://slack.com/oauth/authorize?scope=identity.basic,identity.team&client_id=277002982913.390998994337&state=aabbCCddeeFF" id="login" class="button">登入</a>
        </div>
        <ui>
          <li><a href="/how-to-use">說明</a></li>
          <li><a href="/changelog" id="changelog">版本</a></li>
        </ui>
      </div>
      <a name="top"></a><a href="/" id="icon">
        <img src="https://cdn.glitch.com/a3976d00-9d54-4c1e-afee-614347c571f1%2Flike_1.png?1532738313140" height="64"></a>
      <h1>達人專用<span>品牌修煉助手</span></h1>
    </div>
    <!-- END HEADER -->
    
    <div class="main">
      
      <blockquote class="embedly-card" data-card-controls="0"><h4><a href="https://www.eventbrite.hk/e/ken-sir-nov-22-tickets-52600016064">《超級人脈》魅力大師 Ken Sir 同你玩遊戲 (Nov 22)</a></h4><p>Ken Sir - 資深戲劇教育及心理培訓師，培訓及演出戲劇二十五年以上經驗，現致力發展戲劇及身心靈培訓課程。 今次，我地非常高興，可以邀請到 Ken Sir 來到達人圈子，同大家玩玩遊戲，談談人脈關係！如何透過遊戲去結識新朋友？如何運用瞬間親和力，即時拉近距離？如何快速獲取對方信任，建立更深厚關係？ #玩出商機 主持︰馬世義 Ken Sir - 身心動力培訓網絡> 總監 2018年11月22日 (星期四) 7:00pm - 8:00pm 遊戲交流時段8:00pm - 9:30pm Ken Sir 工作坊9:30pm - 10:00pm 會後自由交流時段 九龍觀塘鴻圖道45號宏光工業大廈1樓 Downtown KT Co-working Space（觀塘站APM出口步行8分鐘） 伸延閱讀：人脈不是搞關係，而是創造命運互聯圈子 其他課程/講座時間，請瀏覽達人圈子專頁</p></blockquote>
<script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script>
      
      <!--
<blockquote class="embedly-card" data-card-controls="0"><h4><a href="https://www.eventbrite.hk/e/nov-27-tickets-52526573395?aff=efbevent&fbclid=IwAR3pZCUe8EeKJ22aPSdb7DLDsSNfJt8oMqbE0h0MscdxV6v0dQxiKXse63s">《超級人脈》建立高效團隊的重要秘密 (Nov 27)</a></h4><p>定義人脈，相信大多數人都認為是「認識對自己有幫助的人」，但是憑藉這種邏輯建立的關係是難以持久的。整天拜託他人，很快就會為人所唾棄。一個人若不去思考「如何幫助對方」，就無法建立豐富人脈。「與其終日求助他人，不如為眾人所求」。 1. 為什麼認識的人不少，關鍵時刻能幫到手的人卻好少？ 2. 如何管理人脈，找到自己的貴人？ 好多人誤以為「人脈 = 結交有名有勢的人」。所以在派對上到處尋找名人，只要攞到名片影左合照就感覺到滿足了。但如果你無法向對方提供有價值嘅貢獻，將無法建立人脈。認真善待身邊的人，比到處和名人合照有意義得多了。 有多年企業管理經驗的 Inno Sir 會為大家詳盡講解人脈管理的法門，提升各位達人建立團隊功力，煉成超級人脈！ 主講︰達人圈子 Inno Man 2018年11月27日 (星期二) 7:00pm - 7:30pm 自由交流時段7:30pm - 9:30pm 工作坊9:30pm - 10:00pm 會後交流時段 九龍觀塘鴻圖道45號宏光工業大廈1樓 Downtown KT Co-working Space（觀塘站APM出口步行8分鐘） 伸延閱讀：人脈不是搞關係，而是創造命運互聯圈子 其他課程/講座時間，請瀏覽達人圈子專頁</p></blockquote>
<script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script>

-->
      
        <!-- SLACK CONNECT BUTTON -->
      <div>
        
      <a name="login"></a>
        <div id="slack" class="group">
          <p><b>登入並授權連接到Slack</b></p> 
          <a href="https://slack.com/oauth/authorize?scope=identity.basic,identity.team&client_id=277002982913.390998994337&state=aabbCCddeeFF"><img alt="Sign in with Slack" height="40" width="172" src="https://platform.slack-edge.com/img/sign_in_with_slack.png" srcset="https://platform.slack-edge.com/img/sign_in_with_slack.png 1x, https://platform.slack-edge.com/img/sign_in_with_slack@2x.png 2x" /></a>
         <!-- <a href="/auth/slack"><img alt="Add to Slack" height="40" width="139" src="https://platform.slack-edge.com/img/add_to_slack.png" srcset="https://platform.slack-edge.com/img/add_to_slack.png 1x, https://platform.slack-edge.com/img/add_to_slack@2x.png 2x" /></a>    -->    

          <div id="slack-status" style="margin: 0.5em 0.1em; font-size: 85%;"></div>
        </div>
        <!-- END OF SLACK CONNECT BUTTON -->
      
        <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fcoxo.hk%2F&tabs&width=320&height=214&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId=1146717015478341" width="320" height="214" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
 </div>
    </div>
    
    <!-- FOOTER -->
    <footer>       
      <p>Copyright &#169; 2018 <a href="https://github.com/chriskyfung">Chris K. Fung</a> &nbsp;&middot;&nbsp; <a href="http://www.coxo.hk/">達人圈子</a></p>
      <p>Made with <a href="https://glitch.com">Glitch</a>!</p>
    </footer>
    <!-- END OF FOOTER -->
   </body>
</html>
