<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!-- You might want to try something fancier: -->
<!-- html/nunjucks docs: https://mozilla.github.io/nunjucks/ -->
<!-- pug: https://pugjs.org/ -->
<!-- haml: http://haml.info/ -->
<!-- hbs(handlebars): http://handlebarsjs.com/ -->

<!DOCTYPE html>
<html lang="zh-hk">
  <head>
    <title>達人專用 - 品牌修煉助手</title>
      <meta name="description" content="品牌修煉助手，包括「讚好助手」、「粉絲分析助手」兩大功能。品牌修煉是達人圈子專為修畢品牌修煉的成員而設的頻道。">
      <meta property="og:image" itemprop="image" content="http://ia.media-imdb.com/rock.jpg"/>

      <link rel="shortcut icon" type="image/png" href="https://cdn.glitch.com/a3976d00-9d54-4c1e-afee-614347c571f1%2Flike_1.png?1532738313140"/>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">  

      <meta name="slack-app-id" content="ABGVCV89X">  

      <link rel="stylesheet" href="style.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>  
      <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
    
   
      <!-- Google Tag Manager -->
      <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-PQ7TT35');</script>
      <!-- End Google Tag Manager -->
  </head>
  <body>
    
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PQ7TT35"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    
    <!-- HEADER -->   
    <div id="header">        
      <div id="top-right" style="float:right;">
        <div id="home-button"> <!-- login button -->
          <a href="https://slack.com/oauth/authorize?scope=identity.basic,identity.team&client_id=277002982913.390998994337&state=aabbCCddeeFF" id="login" class="button">登入</a>
        </div>
        <ui>
          <li><a href="/how-to-use">說明</a></li>
          <li><a href="/changelog" id="changelog">版本</a></li>
        </ui>
      </div>
      <a name="top"></a><a href="/" id="icon">
        <img src="https://cdn.glitch.com/a3976d00-9d54-4c1e-afee-614347c571f1%2Flike_1.png?1532738313140" height="64"></a>
      <h1>達人專用<span>品牌修煉助手</span></h1>
    </div>
    <!-- END HEADER -->
    
    <div class="main">
      
    <blockquote class="embedly-card"><h4><a href="https://www.eventbrite.hk/e/part-2-jan-11-tickets-54491812478?aff=efbeventtix&fbclid=IwAR28W82Lb_Hf6ckMX8bHESPBBW1QIrMzx6MstZdcU0YQlDNF--JbAClADsc">達人知識增值系列「投資揭秘」Part 2 (Jan 11)</a></h4><p>達人知識增值系列「投資揭秘」 市場上，投資工具芸芸眾多，眼花撩亂。近年，更出現很多稀奇古怪的 "非一般" 投資計劃。一般人要選擇，談何容易？下星期二 Hermus 會同大家解拆各種疑幻疑真投資計劃之迷！ 主講：梁錦明先生 Hermus Leung 自香港科技大學畢業後，梁錦明先生以專業顧問、培訓導師、工程師等身份，爲不同的商業與公營機構提供諮詢與培訓服務，行業覆蓋：金融、房地產、互聯網、快銷品、連鎖店、餐飲等 過往10年梁先生曾主講超過300場講座與培訓，內容包括：營銷規劃、風控運營、優質服務、職場拓展、團隊建設等 梁先生曾提供諮詢與服務的機構包括：企業 - 3M、中興、華爲、恆基、日立、東芝、Milwaukee、富士康、偉創力、比亞迪、深南電路、德昌電機、錦興集團公營機構 - 香港機電工程署、選舉事務處、香港運輸署、香港教育局、香港交通安全隊高級長官研修班、廣東省中醫院、青海省中青年幹部培訓班、紅三角經濟發展研討班、香港生產力促進局 2019年1月11日（星期五）7:00pm - 7:30pm 自由交流時段7:30pm - 9:30pm 工作坊9:30pm - 10:00pm 會後交流時段 九龍觀塘開源道77號業發工業大廈1座6樓A室（觀塘站B3出口步行一分鐘） 其他課程/講座時間，請瀏覽達人圈子專頁</p></blockquote>
<script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script>
      
        <!-- SLACK CONNECT BUTTON -->
      <div>
        
      <a name="login"></a>
        <div id="slack" class="group">
          <p><b>登入並授權連接到Slack</b></p> 
          <a href="https://slack.com/oauth/authorize?scope=identity.basic,identity.team&client_id=277002982913.390998994337&state=aabbCCddeeFF"><img alt="Sign in with Slack" height="40" width="172" src="https://platform.slack-edge.com/img/sign_in_with_slack.png" srcset="https://platform.slack-edge.com/img/sign_in_with_slack.png 1x, https://platform.slack-edge.com/img/sign_in_with_slack@2x.png 2x" /></a>
         <!-- <a href="/auth/slack"><img alt="Add to Slack" height="40" width="139" src="https://platform.slack-edge.com/img/add_to_slack.png" srcset="https://platform.slack-edge.com/img/add_to_slack.png 1x, https://platform.slack-edge.com/img/add_to_slack@2x.png 2x" /></a>    -->    

          <div id="slack-status" style="margin: 0.5em 0.1em; font-size: 85%;"></div>
        </div>
        <!-- END OF SLACK CONNECT BUTTON -->
      
        <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fcoxo.hk%2F&tabs&width=320&height=214&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId=1146717015478341" width="320" height="214" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
 </div>
    </div>
    
    <!-- FOOTER -->
    <footer>       
      <p>Copyright &#169; 2018 <a href="https://github.com/chriskyfung">Chris K. Fung</a> &nbsp;&middot;&nbsp; <a href="http://www.coxo.hk/">達人圈子</a></p>
      <p>Made with <a href="https://glitch.com">Glitch</a>!</p>
    </footer>
    <!-- END OF FOOTER -->
   </body>
</html>
