<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!-- You might want to try something fancier: -->
<!-- html/nunjucks docs: https://mozilla.github.io/nunjucks/ -->
<!-- pug: https://pugjs.org/ -->
<!-- haml: http://haml.info/ -->
<!-- hbs(handlebars): http://handlebarsjs.com/ -->

<!DOCTYPE html>
<html lang="zh-hk">
  <head>
    <title>品牌修煉 讚好助手</title>
      <meta name="description" content="品牌修煉助手，包括「讚好助手」、「粉絲分析助手」兩大功能。品牌修煉是達人圈子專為修畢品牌修煉的成員而設的頻道。">
      <meta property="og:image" itemprop="image" content="http://ia.media-imdb.com/rock.jpg"/>
      <link rel="shortcut icon" type="image/png" href="https://cdn.glitch.com/a3976d00-9d54-4c1e-afee-614347c571f1%2Flike_1.png?1532738313140"/>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">  
      <meta name="slack-app-id" content="ABGVCV89X">  
      
      <link rel="stylesheet" href="style.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
      <script src="fb-slack-crosscheck.js"></script>
    
      <!-- Google Tag Manager -->
      <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-PQ7TT35');</script>
      <!-- End Google Tag Manager -->
  </head>
  <body>
    
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PQ7TT35"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    
    <!-- FACEBOOK SOCIAL PLUGIN -->
    <div id="fb-root"></div>
    <!-- END OF FACEBOOK SOCIAL PLUGIN -->
    
    <!-- HEADER -->
    <div id="header">        
        <div>
          <a name="top"></a><a href="/" id="icon">
          <img src="https://cdn.glitch.com/a3976d00-9d54-4c1e-afee-614347c571f1%2Flike_1.png?1532738313140" height="64"></a>  
        </div>
        <div>
          <h1>品牌修煉<span>讚好助手</span></h1>  
        </div>
        <div id="top-right">
            <div id="home-button"> <!-- logout button -->
              <a href="/logoff" id="logout" class="button">登出</a>
            </div>
            <ui>
              <li><a href="/how-to-use">說明</a></li>
              <li><a href="/changelog" id="changelog">版本</a></li>
            </ui>
        </div>
    </div>
    <!-- END OF HEADER -->
    
    
    <div id="news-banner">
      <blockquote class="embedly-card"><h4><a href="https://www.eventbrite.hk/e/2019-tickets-55133346323?aff=ebapi">2019 第一課：如何成為高手？</a></h4><p>達人圈子 2019 第一課：如何成為高手？ 我們從小到大都不斷學習，有沒有想過，追求知識，是為了什麼？ 為了找一份好工作？賺更多錢？ 自小老師就告訴我們：勤學苦練就能出人頭地，真的不斷努力，就能成功嗎？ 在同一行業裡，有人做了兩三年，就成了專家；有人做了十多年，仍然浮浮沈沈，一事無成。 是天資嗎？是命運嗎？是我們不夠努力嗎？還有什麼我們不知道的東西？ 究竟，怎樣才能成為高手？ 要成為高手，有什麼必需的條件呢？ 要成為高手，要有高手的思維！ 投資高手、營銷高手、下棋高手、網球高手、社交高手、企業管理高手...... 有些什麼共通點呢？ 你想成為某個領或的高手嗎？ 達人圈子創辦人、《職場革命》作者 Inno Man 將會為大家解開成為高手之迷！ 2019 年，達人圈子將會推出一系列的課程，助你成為高手，煉成達人！ Inno Sir 將他多年的知識與經驗，精煉成一套完整的課程，助你有系統地學習與練習。 要成為高手，切勿錯過今年的第一課！ 主講：Inno Man 日期：2019 年 1 月 29 日 時間：晚上 7:00 至 10:00 地點：騰訊眾創空間 (香港) 香港觀塘鴻圖道75號 KOHO 6樓 費用：HK$100 (過往曾經出席達人圈子活動的朋友，可免費帶同一位朋友參加) 付款方式可選： 1. 直接以 PayPal 付款 ($5.99 PayPal 收費) 2.</p></blockquote>
<script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script>
    </div>    
    
    <!-- START BREADCRUMB -->
    <table cellpadding="0" cellspacing="0" border="0">
      <tr>
        <td class="breadcrumb">
          <b>讚好助手</b> &nbsp;|&nbsp; <a href="/analytics" id="goAnalytics">粉絲分析助手</a>
        </td>
      </tr>
    </table>
    <!-- END BREADCRUMB -->
    
     <!-- RELOAD FORM -->
    
    <div id="info-shell">  
        <div id="page-description"><p>品牌修煉是達人圈子專為修畢品牌修煉的成員而設的頻道，張貼Facebook「個人」account的posts，互相給Like而設。</p>
        <div class="fb-page" data-tabs="timeline,events" data-href="https://www.facebook.com/coxo.hk/" data-width="412" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/coxo.hk/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/coxo.hk/">達人圈子</a></blockquote></div>
        </div>
        <div id="google-trend-shell">
          <script type="text/javascript" src="https://ssl.gstatic.com/trends_nrtr/1605_RC01/embed_loader.js"></script> <script type="text/javascript"> trends.embed.renderWidget("dailytrends", "", {"geo":"HK","guestPath":"https://trends.google.com:443/trends/embed/"}); </script> 
        </div>
    </div>
    
    <div>
      <form id="FetchForm" action="/exec" method="get" >
        <span>從&nbsp;</span>
        <select id="group" name="group"></select>
        <span>&nbsp;摘取最新</span>
        <input id="read_limit" type="number" name="read_limit" min="1" max="100" value="15">
        <span>條訊息&nbsp;</span>
        <input id="reload" type="submit" value="確定">
      </form>
      <!-- END RELOAD FORM -->    
    </div>
      
    <!-- FACEBOOK LOGIN BUTTON -->
    <div class="button-shell">
      <div class="fb-login-button" data-max-rows="1" data-size="large" data-button-type="login_with" data-show-faces="false" data-auto-logout-link="true" data-use-continue-as="true" onlogin="checkLoginState();"></div>&nbsp;&nbsp;

      <a href="http://bit.ly/2SWaCR9" target="_blank"><button class="coffee-button"><span class="fa fa-coffee"></span>&nbsp;&nbsp;<span>送一杯咖啡給開發人員</span></button></a>
    </div>
    
    <!-- OUTPUT AREA -->
    <div id="container"></div>


    <!-- FOOTER -->
    <footer>       
      <p>Copyright &#169; 2018 <a href="https://github.com/chriskyfung">Chris K. Fung</a> &nbsp;&middot;&nbsp; <a href="http://www.coxo.hk/">達人圈子</a></p>
      <p>Made with <a href="https://glitch.com">Glitch</a>!</p>
    </footer>
    
  </body>
</html>
    