<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!-- You might want to try something fancier: -->
<!-- html/nunjucks docs: https://mozilla.github.io/nunjucks/ -->
<!-- pug: https://pugjs.org/ -->
<!-- haml: http://haml.info/ -->
<!-- hbs(handlebars): http://handlebarsjs.com/ -->

<!DOCTYPE html>
<html lang="zh-hk">
  <head>
    <title>品牌修煉 讚好助手</title>
      <meta name="description" content="品牌修煉助手，包括「讚好助手」、「粉絲分析助手」兩大功能。品牌修煉是達人圈子專為修畢品牌修煉的成員而設的頻道。">
      <meta property="og:image" itemprop="image" content="http://ia.media-imdb.com/rock.jpg"/>
      <link rel="shortcut icon" type="image/png" href="https://cdn.glitch.com/a3976d00-9d54-4c1e-afee-614347c571f1%2Flike_1.png?1532738313140"/>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">  
      <meta name="slack-app-id" content="ABGVCV89X">  
      
      <link rel="stylesheet" href="style.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
      <script src="fb-slack-crosscheck.js"></script>
    
      <!-- Google Tag Manager -->
      <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-PQ7TT35');</script>
      <!-- End Google Tag Manager -->
  </head>
  <body>
    
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PQ7TT35"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    
    <!-- FACEBOOK SOCIAL PLUGIN -->
    <div id="fb-root"></div>
    <!-- END OF FACEBOOK SOCIAL PLUGIN -->
    
    <!-- HEADER -->
    <div id="header">        
        <div>
          <a name="top"></a><a href="/" id="icon">
          <img src="https://cdn.glitch.com/a3976d00-9d54-4c1e-afee-614347c571f1%2Flike_1.png?1532738313140" height="64"></a>  
        </div>
        <div>
          <h1>品牌修煉<span>讚好助手</span></h1>  
        </div>
        <div id="top-right">
            <div id="home-button"> <!-- logout button -->
              <a href="/logoff" id="logout" class="button">登出</a>
            </div>
            <ui>
              <li><a href="/how-to-use">說明</a></li>
              <li><a href="/changelog" id="changelog">版本</a></li>
            </ui>
        </div>
    </div>
    <!-- END OF HEADER -->
    
    
    <div id="news-banner">
        <!--<blockquote class="embedly-card"><h4><a href="https://www.eventbrite.hk/e/nov-27-tickets-52526573395?aff=efbevent&fbclid=IwAR3pZCUe8EeKJ22aPSdb7DLDsSNfJt8oMqbE0h0MscdxV6v0dQxiKXse63s">《超級人脈》建立高效團隊的重要秘密 (Nov 27)</a></h4><p>定義人脈，相信大多數人都認為是「認識對自己有幫助的人」，但是憑藉這種邏輯建立的關係是難以持久的。整天拜託他人，很快就會為人所唾棄。一個人若不去思考「如何幫助對方」，就無法建立豐富人脈。「與其終日求助他人，不如為眾人所求」。 1. 為什麼認識的人不少，關鍵時刻能幫到手的人卻好少？ 2. 如何管理人脈，找到自己的貴人？ 好多人誤以為「人脈 = 結交有名有勢的人」。所以在派對上到處尋找名人，只要攞到名片影左合照就感覺到滿足了。但如果你無法向對方提供有價值嘅貢獻，將無法建立人脈。認真善待身邊的人，比到處和名人合照有意義得多了。 有多年企業管理經驗的 Inno Sir 會為大家詳盡講解人脈管理的法門，提升各位達人建立團隊功力，煉成超級人脈！ 主講︰達人圈子 Inno Man 2018年11月27日 (星期二) 7:00pm - 7:30pm 自由交流時段7:30pm - 9:30pm 工作坊9:30pm - 10:00pm 會後交流時段 九龍觀塘鴻圖道45號宏光工業大廈1樓 Downtown KT Co-working Space（觀塘站APM出口步行8分鐘） 伸延閱讀：人脈不是搞關係，而是創造命運互聯圈子 其他課程/講座時間，請瀏覽達人圈子專頁</p></blockquote><script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script>-->
      
      <a class="embedly-card" href="https://www.eventbrite.hk/e/ken-sir-nov-22-tickets-52600016064">《超級人脈》魅力大師 Ken Sir 同你玩遊戲 (Nov 22)</a>
<script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script>
      
      <!--<iframe src="https://onedrive.live.com/embed?cid=42A0831842844C3A&resid=42A0831842844C3A%21115063&authkey=AMH46wQB1WSRrBE" width="165" height="128" frameborder="0" scrolling="no"></iframe>
      <br><a href="http://go.craftweeks.com/EGkXAJ" target="_blank"><i class="fa fa-cloud-download"></i></a> <a href="http://go.craftweeks.com/EGkXAJ" target="_blank">Open on OneDrive</a>-->
    </div>    
    
    <!-- START BREADCRUMB -->
    <table cellpadding="0" cellspacing="0" border="0">
      <tr>
        <td class="breadcrumb">
          <b>讚好助手</b> &nbsp;|&nbsp; <a href="/analytics" id="goAnalytics">粉絲分析助手</a>
        </td>
      </tr>
    </table>
    <!-- END BREADCRUMB -->
    
     <!-- RELOAD FORM -->
    
    <div id="info-shell">  
        <div id="page-description"><p>品牌修煉是達人圈子專為修畢品牌修煉的成員而設的頻道，張貼Facebook「個人」account的posts，互相給Like而設。</p>
        <div class="fb-page" data-tabs="timeline,events" data-href="https://www.facebook.com/coxo.hk/" data-width="412" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/coxo.hk/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/coxo.hk/">達人圈子</a></blockquote></div>
        </div>
        <div id="google-trend-shell">
          <script type="text/javascript" src="https://ssl.gstatic.com/trends_nrtr/1605_RC01/embed_loader.js"></script> <script type="text/javascript"> trends.embed.renderWidget("dailytrends", "", {"geo":"HK","guestPath":"https://trends.google.com:443/trends/embed/"}); </script> 
        </div>
    </div>
    
    <div>
      <form id="FetchForm" action="/exec" method="get" >
        <span>從&nbsp;</span>
        <select id="group" name="group"></select>
        <span>&nbsp;摘取最新</span>
        <input id="read_limit" type="number" name="read_limit" min="1" max="100" value="15">
        <span>條訊息&nbsp;</span>
        <input id="reload" type="submit" value="確定">
      </form>
      <!-- END RELOAD FORM -->    
    </div>
      
    <!-- FACEBOOK LOGIN BUTTON -->
    <div class="button-shell">
      <div class="fb-login-button" data-max-rows="1" data-size="large" data-button-type="login_with" data-show-faces="false" data-auto-logout-link="true" data-use-continue-as="true" onlogin="checkLoginState();"></div>&nbsp;&nbsp;

      <a href="http://bit.ly/2SWaCR9" target="_blank"><button class="coffee-button"><span class="fa fa-coffee"></span>&nbsp;&nbsp;<span>送一杯咖啡給開發人員</span></button></a>
    </div>
    
    <!-- OUTPUT AREA -->
    <div id="container"></div>


    <!-- FOOTER -->
    <footer>       
      <p>Copyright &#169; 2018 <a href="https://github.com/chriskyfung">Chris K. Fung</a> &nbsp;&middot;&nbsp; <a href="http://www.coxo.hk/">達人圈子</a></p>
      <p>Made with <a href="https://glitch.com">Glitch</a>!</p>
    </footer>
    
  </body>
</html>
    