<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!-- You might want to try something fancier: -->
<!-- html/nunjucks docs: https://mozilla.github.io/nunjucks/ -->
<!-- pug: https://pugjs.org/ -->
<!-- haml: http://haml.info/ -->
<!-- hbs(handlebars): http://handlebarsjs.com/ -->

<!DOCTYPE html>
<html lang="zh-hk">
  <head>
    <title>達人專用 - 品牌修煉助手</title>
      <meta name="description" content="品牌修煉助手，包括「讚好助手」、「粉絲分析助手」兩大功能。品牌修煉是達人圈子專為修畢品牌修煉的成員而設的頻道。">
      <meta property="og:image" itemprop="image" content="http://ia.media-imdb.com/rock.jpg"/>

      <link rel="shortcut icon" type="image/png" href="https://cdn.glitch.com/a3976d00-9d54-4c1e-afee-614347c571f1%2Flike_1.png?1532738313140"/>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">  

      <meta name="slack-app-id" content="ABGVCV89X">  

      <link rel="stylesheet" href="style.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>  
      <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
    
   
      <!-- Google Tag Manager -->
      <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-PQ7TT35');</script>
      <!-- End Google Tag Manager -->
  </head>
  <body>
    
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PQ7TT35"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    
    <!-- FACEBOOK SOCIAL PLUGIN -->
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = 'https://connect.facebook.net/zh_HK/sdk.js#xfbml=1&version=v3.2&appId=1146717015478341&autoLogAppEvents=1';
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
    <!-- END OF FACEBOOK SOCIAL PLUGIN -->
    
    <!-- HEADER -->   
    <div id="header">        
      <div id="top-right" style="float:right;">
        <ui>
          <li><a href="/how-to-use"><i class="fa fa-book"></i>說明</a></li>
          <li><a href="/changelog" id="changelog">版本</a></li>
        </ui>
      </div>
      <a name="top"></a><a href="/" id="icon">
        <img src="https://cdn.glitch.com/a3976d00-9d54-4c1e-afee-614347c571f1%2Flike_1.png?1532738313140" height="64"></a>
      <h1>達人專用<span>品牌修煉助手</span></h1>
    </div>
    <!-- END HEADER -->
    
    <div style="background:yellow;width:100%;color:red;text-align:center;padding:30px;margin-bottom:50px;">
      <h2>
        系統現正維護或更新之中，請在1至2小時之後再嘗試瀏覽。
      </h2>
    </div>
    
    <div class="main">
      
      <blockquote class="embedly-card" data-card-controls="0"><h4><a href="https://www.eventbrite.hk/e/vs-nov-5-tickets-51956548435">超級人脈系列「投資人脈 vs 人脈投資?!」工作坊 (Nov 5)</a></h4><p>Eventbrite - 達人圈子 presents 超級人脈系列「投資人脈 vs 人脈投資?!」工作坊 (Nov 5) - Monday, 5 November 2018 at LCF Workshop. Find event and ticket information.</p></blockquote>
      <script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script>
      
      <div style="max-width:500px;width:100%;">
        <div class="fb-page" data-href="https://www.facebook.com/coxo.hk/" data-tabs="timeline,events" data-width="500" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/coxo.hk/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/coxo.hk/">達人圈子</a></blockquote></div>
      </div>
    </div>
    
    <!-- FOOTER -->
    <footer>       
      <p>Copyright &#169; 2018 <a href="https://github.com/chriskyfung">Chris K. Fung</a> &nbsp;&middot;&nbsp; <a href="http://www.coxo.hk/">達人圈子</a></p>
      <p>Made with <a href="https://glitch.com">Glitch</a>!</p>
    </footer>
    <!-- END OF FOOTER -->
   </body>
</html>
