/* styles */
/* called by your view template */

* {
  box-sizing: border-box;
}

body {
  font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
  margin: 2em;
}

div#header {
  /*font-style: italic;*/
  color: #373fff;
  margin-bottom: 50px;
  padding-bottom: 25px;
  border-bottom: 1px solid lightgrey;
}

.bold {
  font-weight: bold;
}

p {
  max-width: 600px;
}

input {
  display: block;
  margin-bottom: 10px;
  padding: 5px;
  width: 100%;
  border: 1px solid lightgrey;
  border-radius: 3px;
  font-size: 16px;
  text-align: center;
  max-width: 75px;
}

input {
  cursor: pointer;
}


/*
button {
  font-size: 16px;
  border-radius: 3px;
  background-color: lightgrey;
  border: 1px solid grey;
  box-shadow: 2px 2px teal;
  cursor: pointer;
}*/


button:hover {
  cursor: pointer;
}

button:active {
  box-shadow: none;
}

button#hide {
  padding: 5px;
  border: 1px solid lightgrey;
  font-size: 16px;
  border-radius:  20px; 
  vertical-align: bottom;
  min-width: 31px;
}

a.button {
    text-decoration: none;
    color: initial;
    font-style: normal;
    padding: 3px 15px;
    border-radius: 20px;
    border: 1px solid lightgray;
}

li {
  margin-bottom: 5px;
}

footer {
  margin-top: 50px;
  padding-top: 25px;
  border-top: 1px solid lightgrey;
}

footer a {
  text-decoration: none; 
}

div.main {
  display:flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

div.group {
  border: 2px #99c solid;
  background-color: aliceblue;
  border-radius: 10px;
  padding: 10px;
  width: 265px;
  max-height: 180px;
  margin: 40px 10px;
}

div#info-shell {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

div#page-description {
  max-width: 420px; 
}

div#google-trend-shell {
  width: 100%;
  max-width: 800px;
  position: relative;
  left: 70px;
}

.button-shell {
  display: inline;
}

.coffee-button {
  height: 40px;
  border-radius: 3px;
  border: 0px;
  font-size: 18px;
  padding: 10px 30px;
  background: #d9480f;
}
.coffee-button span {
  color: white;
}

.fb-login-button {
  margin-top: 20px;
  top: 10px
}

form#FetchForm {
  display:inline-flex;
  background: aliceblue;
  width:100%;
}

form#FetchForm span {
  flex: none;
  padding-top: 5px;
}


iframe {
  max-width : 100%; 
}

img {
  max-width: 100%;
}

.shadow {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 0px 8px 20px 0px;
}

select:hover {
  cursor: pointer;
}

select#group {
  height: 31px;
  max-width: 200px;
  width: 100%;
  min-width: 75px;
}

select#num_of_days {
   height: 31px;
   min-width: 50px;
   width: 100%;
   max-width: 150px;
}

.post-shell { padding: 10px 0px; margin: 1.5em ; text-align: center; background: aliceblue; border: 1px solid #e5e5e5; }
.liked-post { background-color: silver; }
.shell-menu { padding-top: 10px; }
.fb_iframe_widget span { background-color: white; }
.fb_iframe_widget_fluid { display: inline-block !important; }

#top-right li {
  list-style-type: circle;
  padding-left : 10px;
  font-style: normal;
}

#top-right a {
  text-decoration : none;
}

#logoutbtn {
  padding-bottom : 1em;
  padding-left : 1.5em;
}

#breadcrumb a {
  text-decoration : none;
}

#news-banner {
  float: right;
  top: -55px;
  padding: 15px;
  margin: 20px 10px -30px 10px;
  position:  relative;
  border: 4px solid #40d3ff;
  border-radius:  15px;
  text-align:  center;
  background: white;
  max-width: 400px;
}

div#content {
   max-width: 960px; 
}


/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
 
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
}

.flex-wrap {
  display: flex;
  flex-wrap: wrap; 
}

.fans-tag {
  border: 1px solid lightgray;
  border-radius: 10px;
  margin: 1px;
  vertical-align: middle;
  width: 70px;
}

/* Use a media query to add a break point at 600px: */
@media screen and (max-width:600px) {  
  .post-shell { margin: 1.5em 0 ; padding: 15px 10px; }
  .fb_iframe_widget { margin: 0 ; }
  body { margin : 0; }
  div#header h1 { 
    max-width: 75%;
    font-size: 22px;
  }
  #news-banner {
    float: unset;
    top: unset;
    margin: -25px auto 20px auto;
  }
  div#google-trend-shell {
    left: unset;
  }  
  .button-shell {
  display: grid;
  }
  .coffee-button {
    padding: 9px;
  }
  
  table#HistoryTable #col1 {
    width:80px;
  }
  table#HistoryTable #col2, #col4, #col5 {
    width:45px;
  }
}

@media screen and (max-width:414px) {  
  .fans-tag {
    width:54px;
  }
}


@media screen and (max-width:375px) {  
  .fans-tag {
    width:66px;
  }
}

@media screen and (max-width:360px) {  
  .fans-tag {
    width:58px;
  }
}

@media screen and (max-width:320px) {  
  .fans-tag {
    width:36px;
  }
  table.tablesorter img {
    margin: 0px;
  }
}